/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'registrations';
html {
  font-family: blenderthin, monospace, MuseoSans_Fat;
  font-weight: lighter;
  letter-spacing: .025em;
  color: #555;

  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: blenderthin;
  font-weight: bold;
  font-size: 100%;
  line-height: 1.06em;

  -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
 .header {

  font-family: 'Special Elite'; font-weight: 600; font-size: monospace; height: 60px;
  color:#3c948b;  text-shadow: 1px 1px #e0e0e0;
	line-height: 26.4px;

 }
