
.registration-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('chalkboard5.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.card {
  border-radius: 8px;
}

.card-heading{
  h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: lighter;
  }
}
